.container{
    background-color: rgb(6, 37, 65);
    color: rgb(249, 249, 244);
}

    
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;  
   
}
.btn{
   margin-top: 10px;
}

.slider {
    width: 100%;
    color: rgb(250, 251, 253);
  }
  

