
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main">             
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button style="background-color: #E89C31;" class="btn" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>                
            </div>
        </div>
    </div>
</div>
